.MuiPaper-root {
  padding:8px
}

div.MuiBox-root:has(header) {
  padding: 0;
}

div.MuiPaper-root:has(div.MuiBox-root) {
  padding: 0;
}

div.MuiBox-root:has(div.MuiBox-root) {
  padding: 0;
}

header.MuiAppBar-root {
  margin:0;
}

.MuiGrid2-root {
  padding:8px;
}

.agent-select {
  color: white important;
  border-color: white;
}

body {
  font-family: Roboto, sans-serif;
}



.whiteAccordionBox {
  background-color: white;
}

.bottom-section {
  text-align:right;
  color: #999;
  font-size:small;
  margin-top:10px;
  padding-left: 20px;
  padding-right:20px;
  border-top: solid 1px #ccc;
}

.connected-icon {
  color: darkgreen;
  float: right;
  margin-top: 7px;
  margin-left: 5px;
}

.disconnected-icon {
  color: red;
  float: right;
  margin-top: 7px;
  margin-left: 5px;
}

.bottom-section {
  text-align:right;
  color: #999;
  font-size:small;
  margin-top:10px;
  padding-left: 20px;
  padding-right:20px;
  border-top: solid 1px #ccc;
}

.input-text {
  font-family: Consolas, monospace important;
}

div.MuiBox-root:has(button) {
  padding:0;
}

.response-text {
  margin-top:10px;
  background-color: #f9f9f9;
  padding-left: 10px;
  padding-right:10px;
  font-family: Consolas, monospace;
  min-height:280px;
}

div.MuiBox-root {
  padding: 8px;

}

.bottom-segment {
  display: inline-block;
  white-space: nowrap;
  min-width:150px;
}

.info-text {
  color: #999;
  font-size:small;
} 

.no-padding {
  padding:0;
}

.fl-right {
  float:right;
}

.info-box {
  color: #999;
  padding: 10px;
  font-size:small;
  text-align: center;
  background-color: #efefef;
}

.smallAccordionSummary {
  padding:0;
}

.task-completed {
  color: darkgreen;
}

.welcome-box {
  min-height:297px;
  min-width:400px;
  padding-right:10px;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

@property --r2 {
  syntax: '<angle>';
  inherits: false;
  initial-value: 0deg;
}

@property --x {
  syntax: '<length>';
  inherits: false;
  initial-value: 0px;
}

@keyframes pulsate {
  0% {
    transform: scale(1);
    box-shadow: none;
  }
  50% {
    transform: scale(1.1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }
  100% {
    transform: scale(1);
    box-shadow: none;
  }
}

.divWithRotatingBorder {
  animation: pulsate 4s infinite;
}