.MuiPaper-root {
  padding:8px
}

.MuiGrid2-root {
  padding:8px;
}

.agent-select {
  color: white important;
  border-color: white;
}

body {
  font-family: Roboto, sans-serif;
}

div.MuiBox-root:has(#promptBox) {
  padding: 0;
}

.bottom-section {
  text-align:right;
  color: #999;
  font-size:small;
  margin-top:10px;
  padding-left: 20px;
  padding-right:20px;
  border-top: solid 1px #ccc;
}

.connected-icon {
  color: darkgreen;
  float: right;
  margin-top: 7px;
  margin-left: 5px;
}

.disconnected-icon {
  color: red;
  float: right;
  margin-top: 7px;
  margin-left: 5px;
}

.bottom-segment {
  display: inline-block;
  white-space: nowrap;
  min-width:150px;
}

.info-box {
  color: #999;
  padding: 10px;
  font-size:small;
  text-align: center;
  background-color: #efefef;
}

.task-completed {
  color: darkgreen;
}